    body {
        width: 100%;
        display: block;
        background-color: #fefefe;
        font-size: 16px;
        line-height: 1.5em;
        padding-bottom: 3em;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h5,
    p {
        color: #444;
    }
    
    .darkBg {
        background-color: #363636;
    }
    
    #wrapper {
        min-height: 100vh;
    }
    
    header {
        width: 100%;
        position: static;
        top: 0;
        z-index: 10;
        padding: 0 2.5%;
    }
    
    main {
        min-height: 95vh;
        width: 90%;
        margin: 0 auto;
        padding: 2em 0 5em;
    }
    /* Main Navigation Styling */
    /* nav,
    header {
        background-color: #363636;
    } */
    
    .nav {
        margin-top: 1em;
    }
    
    nav .logo {
        width: 40px;
    }
    
    .nav-link {
        color: #EDB020;
    }
    
    .nav-link:hover {
        color: #24B6FF;
    }
    
    .nav-item,
    .nav-link {
        width: 100%;
        text-align: right;
        display: block;
        clear: both;
        padding-top: .5em;
    }
    
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(237, 176, 32)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    .custom-toggler,
    .custom-toggler:active,
    .custom-toggler:focus {
        border: 0px!important;
        outline: 0px!important;
        box-shadow: 0px!important;
    }
    /* Index */
    
    .indexBg {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/live-show-header2.jpg");
        background-repeat: no-repeat;
    }
    
    .indexForm {
        height: auto;
        width: 100%;
        padding: 3em 20% 1em;
    }
    
    .indexBg,
    h1 {
        color: #fff;
        text-align: center;
        font-size: 2.25em;
    }
    
    .form-group {
        width: 100%;
        display: block;
    }
    
    #indexCopy {
        width: 90%;
        margin: 0 auto;
        padding: 2em 0;
    }
    
    .signIn {
        background-color: transparent;
        border: 0px none;
    }
    
    .loginLinks {
        font-size: 14px;
    }
    
    .pts {
        background-color: #EDB020;
    }
    
    .icons .card {
        border: 0px none;
        background-color: transparent;
        padding: 3em 0 1.5em;
    }
    
    .card-img-top {
        width: 30%;
    }
    /* SignUp */
    
    .form-check-input {
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 15px;
    }
    /* Login */
    
    .loginBg {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/live-show-header.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }
    
    .loginSec {
        text-align: center;
    }
    /* Band Profile */
    
    .bandIntro {
        width: 95%;
        margin: 0 auto;
    }
    
    .flickity-viewport,
    .flickity-slider {
        height: 250px;
    }
    
    .bandHead {
        height: auto;
        width: 100%;
        min-height: 100%;
        overflow-y: hidden;
    }
    
    .gallery-cell,
    .gallery-cell-img {
        height: 100%;
        width: auto;
        min-width: 100%;
        overflow-y: hidden;
    }
    /* Button Changes */
    
    .flickity-prev-next-button {
        color: #fff;
        background-color: transparent;
    }
    
    .flickity-prev-next-button:hover,
    .flickity-prev-next-button:active {
        color: #fff;
        background-color: transparent;
    }
    
    #bandDetails {
        background-color: #EDB020;
        padding: .75em 5% .25em;
        margin-bottom: 2em;
    }
    /* ------------- */
    /* Band Calendar */
    /* ------------- */
    
    .container {
        margin: 0 auto;
        color: #444;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .calendar {
        width: 100%;
        height: 100vh;
    }
    
    .month {
        width: 100%;
        height: 6em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        text-align: center;
    }
    
    .month i {
        font-size: 1em;
        cursor: pointer;
    }
    
    .month h1 {
        color: #444;
        font-size: 2em;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: .5em 0 0;
    }
    
    .month p {
        font-size: 1em;
    }
    
    .weekdays {
        width: 100%;
        height: 5rem;
        padding: 0 0.4rem;
        display: flex;
        align-items: center;
        grid-template-columns: repeat(7, 1fr);
    }
    
    .weekdays div {
        font-size: .85em;
        font-weight: 400;
        letter-spacing: 0.1rem;
        flex: 1 0 calc(100% /7);
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .days {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0.2em 1%;
    }
    
    .days div {
        font-size: 1em;
        margin: .3em 1%;
        width: calc(85% / 7);
        display: flex;
        height: 10vw;
        max-height: 125px;
        justify-content: center;
        align-items: center;
        transition: background-color 0.2s;
    }
    
    .days div:hover:not(.today) {
        background-color: #EDB020;
        cursor: pointer;
    }
    
    .prev-date,
    .next-date {
        opacity: 0.2;
    }
    
    .booked {
        background-color: #ee5555;
    }
    
    .open {
        background-color: #ececec;
    }
    /* Venue Profile */
    
    .related {
        margin-top: 8em;
    }
    /* Footer */
    
    footer {
        width: 100%;
        bottom: 0;
        background-color: #363638;
        color: #d4d4d4;
    }
    /* Small devices (landscape phones, 576px and up) */
    
    @media (min-width: 576px) {
        .form-group {
            width: 100%;
        }
        /* Band Profile */
        .flickity-viewport,
        .flickity-slider {
            height: 300px;
        }
        .bandHead {
            height: auto;
            min-height: 100%;
            min-width: 100%;
        }
        .gallery-cell,
        .gallery-cell-img {
            height: auto;
            width: 100%;
            min-height: 100%;
            min-width: 100%;
            overflow-y: auto;
        }
    }
    /* Medium devices (tablets, 768px and up) */
    
    @media (min-width: 768px) {
        .form-group {
            width: 40%;
            display: inline-block;
        }
        /* Band Profile */
        .flickity-viewport,
        .flickity-slider {
            height: 350px;
        }
        .bandHead {
            height: auto;
            min-width: 100%;
        }
        .gallery-cell,
        .gallery-cell-img {
            height: auto;
            min-height: 100%;
            width: 100%;
            overflow-y: hidden;
        }
    }
    /* Large devices (desktops, 992px and up) */
    
    @media (min-width: 992px) {
        .nav-item,
        .nav-link {
            width: auto;
            padding-top: 0;
            display: inline-block;
        }
        /* Band Profile */
        .flickity-viewport,
        .flickity-slider {
            height: 350px;
        }
        .bandHead {
            height: auto;
            min-width: 100%;
        }
        .gallery-cell,
        .gallery-cell-img {
            height: auto;
            min-height: 100%;
            width: 100%;
            overflow-y: hidden;
        }
    }
    /* Extra large devices (large desktops, 1200px and up) */
    
    @media (min-width: 1200px) {
        .nav-item,
        .nav-link {
            width: auto;
            text-align: right;
            /* padding-top: 0; */
        }
        .form-group {
            width: 30%;
            display: inline-block;
        }
        /* Band Profile */
        .flickity-viewport,
        .flickity-slider {
            height: 500px;
        }
        .bandHead {
            height: auto;
            width: 100%;
        }
        .gallery-cell,
        .gallery-cell-img {
            height: auto;
            width: 100%;
            overflow-y: hidden;
        }
    }